{% extends "base.html.twig" %}
{% block body %}
	<h1>{{category.name}}</h1>
	{% for program in programs %}
		<p>
			{{ program.synopsis}}
		</p>
		<p>Catégorie :
			{{ program.category.name }}</p>
		{# Lien vers la fiche de la série : #}
		<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}

