{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>All series
	</h1>
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ program.title }}
				- Category :
				{{ program.category.name }}</h2>
			<p>{{ program.synopsis }}</p>
			<a href="{{ path("program_show", { id: program.id }) }}">See details</a>
		</div>
	{% else %}
		Not found
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Home
	</a>
{% endblock %}



