{% extends 'base.html.twig' %}

{% block title %}Serie
	{{ program.id }}
{% endblock %}

{% block body %}

	<div class>
		<h1>{{program.title}}
			- Season
			{{season.number}}</h1>
		<p>{{ program.synopsis }}</p>
		<p>Category :
			{{ program.category.name }}</p>

		<div>
			{% for episode in season.episodes %}
				<p>Episode
					{{episode.number}}</p>
				<p>Description
					{{episode.synopsis}}</p>
				<a href="{{ path('program_show', { id: program.id} ) }}">
					Details
				</a>
				<br>

			{% endfor %}

			<a href="{{ path('program_index') }}">
				Program list
			</a>
		</div>
	</div>
{% endblock %}
