{% extends 'base.html.twig' %}

{% block title %}Série
	{{ program.id }}
{% endblock %}

{% block body %}

	<h1>{{ program.title }}</h1>
	<p>{{ program.synopsis }}</p>
	<p>Catégorie :
		{{ program.category.name }}</p>

	{% for season in program.seasons %}
		<p>{{season.number}}</p>
		<p>{{season.year}}</p>
		<p>{{season.description}}</p>

		<a href="{{ path("program_season_show", { programid: program.id, seasonid: season.id }) }}">
			Résumé de la saison
			{{season.number}}
		</a>
	{% endfor %}
</div>
<a href="{{ path('program_index') }}">
	Retour à la liste des programmes</a>{% endblock %}
